.el-slider__button {
  --el-slider-button-size: 15px;
}
.dark {
  .escook-music-ball {
    --music-list-sep-color: #1b1b1f;
    --music-list-bgcolor: #212223;
    --music-list-bdcolor: #1b1b1f;
    background-color: #222;
    .escook-play-pause {
      &:hover {
        background-color: #3d3d3d;
      }
    }

    .el-slider {
      --el-border-color-light: #b6b6b6;
      --el-slider-main-bg-color: #b6b6b6;
      --el-slider-height: 4px;

      .el-slider__runway {
        background-color: #5f5f5f;
      }

      .el-slider__button {
        --el-color-white: #5f5f5f;
        --el-slider-main-bg-color: #b6b6b6;
      }
    }

    .el-progress {
      .el-progress-circle__track {
        stroke: #333;
      }
      .el-progress-circle__path {
        stroke: #913654;
      }
    }
  }
}
.escook-music-ball {
  --music-list-sep-color: #ece9e9;
  --music-list-bgcolor: #f6f6f7;
  --music-list-bdcolor: #efefef;

  background-color: #efefef;
  cursor: pointer;
  width: 50px;
  // width: 330px;
  height: 50px;
  overflow: hidden;
  position: fixed;
  left: 15px;
  bottom: 15px;
  z-index: 99;
  border-radius: 28px;
  padding: 0 20px 0 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: width 0.3s ease;
  transition-delay: 0.1s;

  &.active {
    overflow: inherit;
  }

  .escook-music-ball__inner {
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &:hover {
    width: 330px;
    transition: width 0.3s ease;
    transition-delay: 0.5s;
  }

  .iconfont {
    font-size: 20px;
  }

  .icon-pause {
    font-size: 26px;
  }

  .el-slider {
    --el-slider-height: 4px;
    --el-slider-main-bg-color: #595959;
    --el-color-white: #c1c2c3;

    .el-slider__runway {
      background-color: #c1c2c3;
    }

    .el-slider__button {
      --el-slider-button-size: 12px;
      position: relative;
      top: -1px;
    }
  }

  .icon-ic_volume_up,
  .icon-ic_volume_off {
    margin-left: 5px;
  }

  .escook-play-pause {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;

    &:hover {
      background-color: rgb(188, 188, 188);
      transition: all 0.5s ease;
    }
  }

  .escook-time {
    padding: 0 10px;
    font-size: 12px;
    width: 78px;
    white-space: nowrap;
  }

  .escook-duration {
    padding: 0 10px 0 3px;
    flex: 1;
  }

  .escook-volume {
    width: 30px;
    display: flex;
    align-items: center;
    transition: width 0.3s ease;
    transition-delay: 0.3s;

    .el-slider {
      opacity: 0;
      transition: opacity 0.3s ease;
      transition-delay: 0.3s;
    }

    img {
      margin-left: 5px;
    }
    &:hover {
      width: 120px;
      transition: width 0.3s ease;
      transition-delay: 0.3s;

      .el-slider {
        opacity: 1;
        transition: opacity 0.3s ease;
      }
    }
  }

  .escook-music-list-button {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
  }

  .escook-music-list {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 15px 5px 50px;
    left: 0;
    bottom: 0;
    z-index: -9;
    border-radius: 24px;
    background-color: var(--music-list-bgcolor);
    border: 1px solid var(--music-list-bdcolor);

    .escook-music-list-sep {
      border-bottom: 1px solid var(--music-list-sep-color);
      margin: 5px 0;
    }

    .escook-music-list-item {
      font-size: 12px;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 24px;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;

      &:hover {
        color: #f16a97;
      }

      .image-live {
        width: 12px;
        height: 12px;
        position: absolute;
        left: 3px;
        bottom: 6px;
      }

      &.active {
        color: #fb9cbc;

        &:hover {
          color: #f16a97;
        }
      }
    }
  }

  .el-progress {
    position: absolute;
    left: 0;

    .el-progress-circle__track {
      stroke: #dfdfdf;
    }

    .el-progress-circle__path {
      stroke: #f16a97;
    }
  }
}
