.el-slider__button {
  --el-slider-button-size: 15px;
}
.dark .escook-music-ball {
  background-color: #222;
}
.dark .escook-music-ball .escook-play-pause:hover {
  background-color: #3d3d3d;
}
.dark .escook-music-ball .el-slider {
  --el-border-color-light: #b6b6b6;
  --el-slider-main-bg-color: #b6b6b6;
  --el-slider-height: 4px;
}
.dark .escook-music-ball .el-slider .el-slider__runway {
  background-color: #5f5f5f;
}
.dark .escook-music-ball .el-slider .el-slider__button {
  --el-color-white: #5f5f5f;
  --el-slider-main-bg-color: #b6b6b6;
}
.dark .escook-music-ball .el-progress .el-progress-circle__track {
  stroke: #333;
}
.dark .escook-music-ball .el-progress .el-progress-circle__path {
  stroke: #722124;
}
.escook-music-ball {
  background-color: #d3d3d3;
  cursor: pointer;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: fixed;
  left: 15px;
  bottom: 15px;
  z-index: 99;
  border-radius: 28px;
  padding: 0 20px 0 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: width 0.3s ease;
}
.escook-music-ball .escook-music-ball__inner {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.escook-music-ball:hover {
  width: 300px;
  transition: width 0.3s ease;
}
.escook-music-ball .iconfont {
  font-size: 20px;
}
.escook-music-ball .icon-pause {
  font-size: 26px;
}
.escook-music-ball .el-slider {
  --el-slider-height: 4px;
  --el-slider-main-bg-color: #595959;
  --el-color-white: #c1c2c3;
}
.escook-music-ball .el-slider .el-slider__runway {
  background-color: #c1c2c3;
}
.escook-music-ball .el-slider .el-slider__button {
  --el-slider-button-size: 12px;
  position: relative;
  top: -1px;
}
.escook-music-ball .icon-ic_volume_up,
.escook-music-ball .icon-ic_volume_off {
  margin-left: 5px;
}
.escook-music-ball .escook-play-pause {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.escook-music-ball .escook-play-pause:hover {
  background-color: #bcbcbc;
  transition: all 0.5s ease;
}
.escook-music-ball .escook-time {
  padding: 0 10px;
  font-size: 12px;
  width: 78px;
  white-space: nowrap;
}
.escook-music-ball .escook-duration {
  padding: 0 10px 0 3px;
  flex: 1;
}
.escook-music-ball .escook-volume {
  width: 30px;
  display: flex;
  align-items: center;
  transition: width 0.3s ease;
}
.escook-music-ball .escook-volume .el-slider {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.escook-music-ball .escook-volume img {
  margin-left: 5px;
}
.escook-music-ball .escook-volume:hover {
  width: 120px;
  transition: width 0.3s ease;
}
.escook-music-ball .escook-volume:hover .el-slider {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.escook-music-ball .el-progress {
  position: absolute;
  left: 0;
}
.escook-music-ball .el-progress .el-progress-circle__track {
  stroke: #dfdfdf;
}
.escook-music-ball .el-progress .el-progress-circle__path {
  stroke: #409eff;
}
